/*Color*/
$FirstColor: #0973a1;
$SecondColor: #4635dc;
$clr: #222327;

/*Responsive*/
$mobile-small: 320px;
$mobile-medium: 480px;
$mobile-large: 768px;
$tablet: 1024px;
// Ecrans de bureau
$desktop-small: 1280px;
$desktop-medium: 1440px;
$desktop-large: 1680px;
