@import '../Base/Variables.scss';
@import '../Base/Mixins.scss';

@media screen and (min-width: $mobile-small){
  .home{
    .hidden-mobile{
      display: none;
    }
    .right{
      p{
        font-size: 20px;
      }

    }
  }
}

@media screen and (width: 716px) {
  .About{
    margin-left: 65px;
  }
}

@media screen and (min-width: $mobile-medium) {
    .home{

      .right{
        p{
          font-size: 20px;
        }
      }
    }
    .About{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .Contact {
      form {
        .name,
        .email,
        .message {
  
          input,
          textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 450px;
          }
        }
        button {
          margin-left: -345px;
        }
      }
    }
}

@media screen and (min-width: $mobile-large) {
    .home {
      display: flex;
      justify-content: space-between; /* Espacement entre .right et .left */
      align-items: center;
      font-size: 150px;
      
  
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
          margin-right: 250px;
          margin-top: 150px;
          font-size: 25px;
          text-align: start;
          width: 60%;
        }
      }
  
      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Aligner le contenu à droite */
        margin-top: -650px;
        img {
          width: 30%; /* Utilisez la largeur complète du .left */
          margin-left: 20px;
        }
      }
    }

    .About{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
  

@media screen and (min-width: $tablet) {
    .paintauchoco{
        color: green;
    }
}

@media screen and (min-width: $desktop-small) {
    .paintauchoco{
        color: burlywood;
    }
}

@media screen and (min-width: $desktop-medium) {
    .paintauchoco{
        color: tomato;
    }
}

@media screen and (min-width: $desktop-large) {
    .home{
      .hidden-mobile{
        position: relative;
        top: 50px;
        display: initial;
        font-size: 55px;
        width: 90%;
        text-align: center;
        color: white;
      }
      .right{
        p{
          position: relative;
          top: 150px;
          left: -350px;
          font-size: 35px;
          width: 40%;
          text-align: center;
        }
      }
      .left{
        display: flex;
        flex-direction: row;
        img{
          position: relative;
          top: -350px;
          left: 600px;
          width: 70%;
        }
      }
    }
}