@import "../Base/Variables.scss";
.home {
    height: 90vh;
    background-color: $SecondColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .right {
      position: relative;
      top: -75px;
      display: flex;
      flex-direction: column; /* Afficher le contenu en colonne */
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px;
      width: 90%;
      color: white;
  
      p {
      }
    }
  
    .left {
        display: flex;
        justify-content: center;
      img {
        max-width: 50%;
        margin-top: -50px;
      }
    }
  } 