@charset "UTF-8";
/*Base*/
/*Color*/
/*Responsive*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #4635DC;
  margin-bottom: 150px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*Color*/
/*Responsive*/
/*Pages*/
/*Color*/
/*Responsive*/
/*Pages Widget*/
/*Pages Widget Navbar*/
/*Color*/
/*Responsive*/
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Ajout de cette ligne */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #4635DC; }
  .navbar-container .logo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 15px; }
  .navbar-container .lang {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 15px; }
    .navbar-container .lang .lang-button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: #fff;
      cursor: pointer; }
    .navbar-container .lang .lang-divider {
      margin: 0 5px;
      color: #fff; }

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; }
  .navigation ul {
    display: flex;
    width: auto; }
    .navigation ul li {
      position: relative;
      list-style: none;
      margin: 10px;
      width: 70px;
      height: 70px;
      z-index: 1; }
      .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500; }
        .navigation ul li a .icon {
          position: relative;
          display: block;
          top: -5px;
          line-height: 75px;
          font-size: 28px;
          text-align: center;
          transition: 0.5s;
          color: #4635DC; }
        .navigation ul li a .text {
          position: absolute;
          color: #0973A1;
          font-weight: 400;
          font-size: 1em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          opacity: 0;
          transform: translateY(20px); }
      .navigation ul li:nth-child(1).active ~ .indicator {
        transform: translateX(calc(70px * 0.15)); }
      .navigation ul li:nth-child(2).active ~ .indicator {
        transform: translateX(calc(70px * 1.43)); }
      .navigation ul li:nth-child(3).active ~ .indicator {
        transform: translateX(calc(70px * 2.72)); }
      .navigation ul li:nth-child(4).active ~ .indicator {
        transform: translateX(calc(70px * 3.99)); }
    .navigation ul li.active a .icon {
      transform: translateY(-32px); }
    .navigation ul li.active a .text {
      opacity: 1;
      transform: translateY(10px); }

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  border: 3px solid #4635DC;
  transition: 0.5s; }
  .indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px; }
  .indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px; }

/*Responsive*/
/*Color*/
/*Responsive*/
@media screen and (min-width: 320px) {
  /*Color*/
  /*Responsive*/
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ajout de cette ligne */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #4635DC; }
    .navbar-container .logo {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      margin-left: 15px; }
    .navbar-container .lang {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-right: 15px; }
      .navbar-container .lang .lang-button {
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #fff;
        cursor: pointer; }
      .navbar-container .lang .lang-divider {
        margin: 0 5px;
        color: #fff; }

  .navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; }
    .navigation ul {
      display: flex;
      width: auto; }
      .navigation ul li {
        position: relative;
        list-style: none;
        margin: 10px;
        width: 70px;
        height: 70px;
        z-index: 1; }
        .navigation ul li a {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          text-align: center;
          font-weight: 500; }
          .navigation ul li a .icon {
            position: relative;
            display: block;
            top: -5px;
            line-height: 75px;
            font-size: 28px;
            text-align: center;
            transition: 0.5s;
            color: #4635DC; }
          .navigation ul li a .text {
            position: absolute;
            color: #0973A1;
            font-weight: 400;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            opacity: 0;
            transform: translateY(20px); }
        .navigation ul li:nth-child(1).active ~ .indicator {
          transform: translateX(calc(70px * 0.15)); }
        .navigation ul li:nth-child(2).active ~ .indicator {
          transform: translateX(calc(70px * 1.43)); }
        .navigation ul li:nth-child(3).active ~ .indicator {
          transform: translateX(calc(70px * 2.72)); }
        .navigation ul li:nth-child(4).active ~ .indicator {
          transform: translateX(calc(70px * 3.99)); }
      .navigation ul li.active a .icon {
        transform: translateY(-32px); }
      .navigation ul li.active a .text {
        opacity: 1;
        transform: translateY(10px); }

  .indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    border: 3px solid #4635DC;
    transition: 0.5s; }
    .indicator::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-right-radius: 20px; }
    .indicator::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-left-radius: 20px; }

  .home {
    height: 90vh;
    background-color: #4635DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home .right {
      position: relative;
      top: -75px;
      display: flex;
      flex-direction: column;
      /* Afficher le contenu en colonne */
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px;
      width: 90%;
      color: white; }
      .home .right p {
        font-size: 20px; }
    .home .left {
      display: flex;
      justify-content: center; }
      .home .left img {
        max-width: 50%;
        margin-top: -50px; }

  .About {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-left: 55px;
    justify-content: center;
    /* Centrer horizontalement */
    align-items: center;
    /* Centrer verticalement */ }
    .About .card {
      background-color: white;
      width: 250px;
      height: 300px;
      border-radius: 19px;
      box-shadow: 0 3px 6px #1e1e1e; }
      .About .card .title {
        margin: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        font-size: 25px; }
      .About .card .list {
        margin-left: 25px; }
        .About .card .list ul {
          list-style-type: circle; }
          .About .card .list ul li {
            margin: 15px; }

  .Contact h1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;
    color: white; }
  .Contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; }
    .Contact form .name,
    .Contact form .email,
    .Contact form .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px; }
      .Contact form .name label,
      .Contact form .email label,
      .Contact form .message label {
        font-weight: bold;
        color: white; }
      .Contact form .name input,
      .Contact form .name textarea,
      .Contact form .email input,
      .Contact form .email textarea,
      .Contact form .message input,
      .Contact form .message textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px; }
      .Contact form .name textarea,
      .Contact form .email textarea,
      .Contact form .message textarea {
        resize: vertical; }
    .Contact form button {
      background-color: #007bff;
      color: white;
      border: none;
      margin-left: -195px;
      border-radius: 5px;
      padding: 15px 30px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease; }
      .Contact form button:hover {
        background-color: #0056b3; } }
@media screen and (min-width: 480px) {
  .paintauchoco {
    color: blue; }

  .About {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (min-width: 768px) {
  .home {
    display: flex;
    justify-content: space-between;
    /* Espacement entre .right et .left */
    align-items: center; }
    .home .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .home .right p {
        font-size: 25px;
        text-align: start;
        width: 60%;
        /* Utilisez la largeur complète du .right */ }
    .home .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      /* Aligner le contenu à droite */
      margin-top: -650px; }
      .home .left img {
        max-width: 30%;
        /* Utilisez la largeur complète du .left */
        margin-left: 20px; }

  .About {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (min-width: 1024px) {
  .paintauchoco {
    color: green; } }
@media screen and (min-width: 1280px) {
  .paintauchoco {
    color: burlywood; } }
@media screen and (min-width: 1440px) {
  .paintauchoco {
    color: tomato; } }
@media screen and (min-width: 1680px) {
  .paintauchoco {
    color: aqua; } }

/*# sourceMappingURL=style.css.map */
